@model CaregiverPlatform.Controllers.AddUserDto

<div class="container">
    <form  asp-action="AddUser" asp-controller="Users">
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" type="string" asp-for="Email" name="Email" />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input class="form-control" type="string" asp-for="Name" name="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Surname">Surname</label>
        <input class="form-control" type="string" asp-for="Surname" name="Surname" />
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input class="form-control" type="string" asp-for="City" name="City" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input class="form-control" type="string" asp-for="PhoneNumber" name="PhoneNumber" />
    </div>
    <div class="form-group">
        <label asp-for="ProfileDescription">ProfileDescription</label>
        <textarea class="form-control" type="string" asp-for="ProfileDescription" name="ProfileDescription"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
         <input class="form-control" type="password" asp-for="Password" name="Password" />
    </div>
    <input type="submit" class=" mt-2 btn btn-outline-primary" value="Add User"/>
</form>
</div>